<div class="container">
    <br>


    <div class="row">
        <!-- CONSULTAR TERCERO -->

        <div class="col-5">
            <h2>Consulta de Tercero <i class="fas fa-clipboard-list"></i></h2>
            <hr>
            <form action="">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Consultar">Consultar Persona o Empresa </label>
                        <input type="text" class="form-control" name="Consultar" placeholder="Numero de Documento"
                            [(ngModel)]="search">
                    </div>
                </div>
                <div class="col-12 justify-content-center">
                    <button class="btn btn-dark btn-block mt-4" (click)="get()">Consultar</button>
                </div>
            </form>
            <div class="col-12">
                <form>
                    <label for="Tipo">Tipo De Documento: </label>
                    <input type="text" class="form-control form-control-sm " name="Tipo" placeholder="Tipo de Documento"
                        [(ngModel)]="persona.tipoDeDocumento" disabled>
                    <label for="numeroDeDocumento">Numero De Documento: </label>
                    <input type="text" class="form-control form-control-sm " name="numeroDeDocumento"
                        placeholder="Numero de Documento" [(ngModel)]="persona.numeroDeDocumento" disabled>
                    <label for="Nombre">Nombre: </label>
                    <input type="text" class="form-control form-control-sm " name="Nombre" placeholder="Nombre"
                        [(ngModel)]="persona.nombre" disabled>
                    <label for="Direccion">Direccion: </label>
                    <input type="text" class="form-control form-control-sm " name="Direccion" placeholder="Direccion"
                        [(ngModel)]="persona.direccion" disabled>
                    <label for="Telefono">Telefono: </label>
                    <input type="text" class="form-control form-control-sm " name="Telefono" placeholder="Telefono"
                        [(ngModel)]="persona.telefono" disabled>
                    <label for="Pais">Pais: </label>
                    <input type="text" class="form-control form-control-sm " name="Pais" placeholder="Pais"
                        [(ngModel)]="persona.pais" disabled>
                    <label for="Departamento">Departamento: </label>
                    <input type="text" class="form-control form-control-sm " name="Departamento"
                        placeholder="Departamento" [(ngModel)]="persona.departamento" disabled>
                    <label for="Ciudad">Ciudad: </label>
                    <input type="text" class="form-control form-control-sm " name="Ciudad" placeholder="Ciudad"
                        [(ngModel)]="persona.ciudad" disabled>
                </form>
                <hr>
            </div>
        </div>
        <!-- REGISTRAR PAGO -->
        <div class="col-7">
            <h2>Registro de pagos <i class="fas fa-clipboard-list"></i></h2>
            <hr>
            <label for="IdDePAgo">Id de Pago: </label>
            <input type="text" class="form-control " name="IdDePAgo de Pago" placeholder="Id de pago"
                [(ngModel)]="pago.idDePago">
            <label for="TipoDePago">Tipo De Pago </label>
            <select type="text" class="form-control" name="TipoDePago" placeholder="Seleccione Tipo De Pago..."
                [(ngModel)]="pago.tipoDePago">
                <option value="Administrativos">Administrativos</option>
                <option value="Financieros">Financieros</option>
                <option value="Legales">Legales</option>
                <option value="Viajes y transportes">Viajes Y transportes</option>
                <option value="Honorarios">Honorarios</option>
                <option value="Arrendamiento">Arrendamiento</option>
                <option value="Impuestos">Impuestos</option>
                <option value="Retenciones">Retenciones</option>
            </select>
            <label for="Fecha">Fecha: </label>
            <input type="date" class="form-control " name="Fecha" placeholder="Fecha" [(ngModel)]="pago.fecha">
            <label for="ValorDePago">Valor de pago: </label>
            <input type="text" class="form-control " name="ValorDePago" placeholder="Valor de pago"
                [(ngModel)]="pago.valorDePago">
            <label for="ValorIva">Valor de iva: </label>
            <input type="text" class="form-control " name="ValorIva" placeholder="Valor de iva"
                [(ngModel)]="pago.valorIva">

            <div class="col-12 justify-content-center">
                <button class="btn btn-dark btn-block mt-4" (click)="add()">Consultar</button>
            </div>

        </div>
    </div>
</div>