<div class="row">

    <h2>Consulta de Tercero <i class="fas fa-clipboard-list"></i></h2>
    <hr>
    <div class="col-6">

        <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Tipo to filter">
    </div>
</div>
<hr>
<table class="table table-striped" *ngIf='pagos && pagos.length'>
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Tipo De Pago </th>
            <th>Fecha</th>
            <th>Valor De Pago</th>
            <th>Iva De Pago</th>
            <th>persona</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pago of pagos; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pago.idDePago }} </td>
            <td>{{ pago.tipoDePago }}</td>
            <td>{{ pago.fecha }}</td>
            <td>{{ pago.valorDePago }}</td>
            <td>{{ pago.valorIva }}</td>
            <td><button>Consultar Persona</button></td>
        </tr>
    </tbody>
</table>